In [9]:
import pandas as pd

from data_cleaner import cleaner

In [10]:
data = pd.read_csv("./data/drinks.csv")
data = cleaner(data)
data.head(44)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Albania,89,132,54,4.9
1,Andorra,245,138,312,12.4
2,Armenia,21,179,11,3.8
3,Austria,279,75,191,9.7
4,Belarus,142,373,42,14.4